
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
    overflow: hidden;
}

.date {
    padding: 20px;
    margin: 0 20px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22pt;
}

.date:hover {
    background-color: #999;
}

section {
    padding: 15px;
    padding-top: 30px;
    width: 500px;
    margin: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 100px;
}

th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.intervalo {
    text-align: center;
}

td.selected {
    background-color: red;
}

#tabela_visul table td {
    text-align: center;
}
